<tr>
<td><%= patient_vital_sign.updated_at  %></td>
<td><%= patient_vital_sign.value %></td>
<td>
<button class="btn btn-danger btn-xs" data-title="Edit"  ><span class="glyphicon glyphicon-pencil"></span></button>
</td>
</tr>
