<tr>
<td><%= link_to patient.name_last_first, patient_path(patient)  %></td>
<td><%= patient.dob %></td>
<td><%= patient.vitals_at_a_glance %></td>
<td>
<button class="btn btn-danger btn-xs" data-title="Delete"  ><span class="glyphicon glyphicon-pencil"></span></button>
</td>
<td>
<button class="btn btn-danger btn-xs" data-title="Delete"  ><span class="glyphicon glyphicon-signal"></span></button>
<button class="btn btn-danger btn-xs" data-title="Delete"  ><span class="glyphicon glyphicon-th-list"></span></button></td>
</tr>
